name: Flet APK Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet wikipedia plyer python-dateutil
          
      - name: Build APK
        run: flet build apk --verbose
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BrainQuiz-App
          path: build/apk/app-release.apk
